In [1]:
#libraries
import json
import pandas as pd

#normalize method
from pandas.io.json import json_normalize as jnorm

#display size
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [2]:
pd.set_option('display.max_rows', 4000)

In [3]:
#open json file as python list
with open('Totvs/dataset.txt') as dataFile:
    dataset = json.load(dataFile)

In [4]:
#first try to flatten list: parse all
df0 = pd.DataFrame(dataset)
df0.head()

             complemento                                               dets                                               emit                                                ide               infAdic                                              total versaoDocumento
0   {'valorTotal': 24.9}  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  {'cnpj': '01.234.567/0001-89', 'enderEmit': {'...  {'dhEmi': {'$date': '2016-01-05T12:01:54.000Z'...  {'infCpl': 'Mesa 2'}  {'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...               1
1  {'valorTotal': 92.53}  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  {'cnpj': '01.234.567/0001-89', 'enderEmit': {'...  {'dhEmi': {'$date': '2016-01-05T12:03:52.000Z'...  {'infCpl': 'Mesa 1'}  {'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...               1
2  {'valorTotal': 57.86}  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  {'cnpj': '01.234.567/0001-89', 'enderEmit': {'...  {'dhEmi': {'$date': '2016-01-05T12:16:40.000Z'...  {'infCpl': 'Mesa 5'}  {'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...               1
3  {'valorTotal': 34.97}  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  {'cnpj': '01.234.567/0001-89', 'enderEmit': {'...  {'dhEmi': {'$date': '2016-01-05T12:17:50.000Z'...  {'infCpl': 'Mesa 3'}  {'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...               1
4  {'valorTotal': 46.23}  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  {'cnpj': '01.234.567/0001-89', 'enderEmit': {'...  {'dhEmi': {'$date': '2016-01-05T12:18:35.000Z'...  {'infCpl': 'Mesa 4'}  {'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...               1

In [5]:
#second try to flatten list: parse all
df1 = jnorm(dataset)
df1.head()

   complemento.valorTotal                                               dets           emit.cnpj emit.enderEmit.fone emit.enderEmit.uf emit.enderEmit.xBairro      emit.enderEmit.xLgr emit.enderEmit.xMun emit.enderEmit.xPais  emit.xFant           ide.dhEmi.$date ide.natOp infAdic.infCpl  total.icmsTot.vDesc  total.icmsTot.vFrete  total.icmsTot.vOutro  total.icmsTot.vProd  total.icmsTot.vSeg  total.icmsTot.vTotTrib  total.icmsTot.vbc  total.icmsTot.vbcst  total.icmsTot.vcofins  total.icmsTot.vicms  total.icmsTot.vicmsDeson  total.icmsTot.vii  total.icmsTot.vipi  total.icmsTot.vnf  total.icmsTot.vpis  total.icmsTot.vst  versaoDocumento versaoDocumento.$numberLong
0                   24.90  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  01.234.567/0001-89      1-650-933-4902                CA                         650 Castro St. unit 210       Mountain View        United States  TOTVS Labs  2016-01-05T12:01:54.000Z     VENDA         Mesa 2                  0.0                   0.0                   0.0                24.90                 0.0                    2.53                0.0                  0.0                    0.0                  0.0                       0.0                0.0                 0.0              24.90                 0.0                0.0              1.0                         NaN
1                   92.53  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  01.234.567/0001-89      1-650-933-4902                CA                         650 Castro St. unit 210       Mountain View        United States  TOTVS Labs  2016-01-05T12:03:52.000Z     VENDA         Mesa 1                  0.0                   0.0                   0.0                92.55                 0.0                    7.71                0.0                  0.0                    0.0                  0.0                       0.0                0.0                 0.0              92.55                 0.0                0.0              1.0                         NaN
2                   57.86  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  01.234.567/0001-89      1-650-933-4902                CA                         650 Castro St. unit 210       Mountain View        United States  TOTVS Labs  2016-01-05T12:16:40.000Z     VENDA         Mesa 5                  0.0                   0.0                   0.0                57.87                 0.0                    2.43                0.0                  0.0                    0.0                  0.0                       0.0                0.0                 0.0              57.87                 0.0                0.0              1.0                         NaN
3                   34.97  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  01.234.567/0001-89      1-650-933-4902                CA                         650 Castro St. unit 210       Mountain View        United States  TOTVS Labs  2016-01-05T12:17:50.000Z     VENDA         Mesa 3                  0.0                   0.0                   0.0                34.98                 0.0                    1.47                0.0                  0.0                    0.0                  0.0                       0.0                0.0                 0.0              34.98                 0.0                0.0              1.0                         NaN
4                   46.23  [{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...  01.234.567/0001-89      1-650-933-4902                CA                         650 Castro St. unit 210       Mountain View        United States  TOTVS Labs  2016-01-05T12:18:35.000Z     VENDA         Mesa 4                  0.0                   0.0                   0.0                46.23                 0.0                    1.94                0.0                  0.0                    0.0                  0.0                       0.0                0.0                 0.0              46.23                 0.0                0.0              1.0                         NaN

In [6]:
#third try to flatten list: parse 'dets'
df2 = jnorm(dataset, 'dets')
df2.head()

  nItem                                               prod
0     1  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...
1     2  {'indTot': '1', 'qCom': 0.312, 'uCom': 'KG', '...
2     1  {'indTot': '1', 'qCom': 1.218, 'uCom': 'KG', '...
3     2  {'indTot': '1', 'qCom': 2.0, 'uCom': 'UN', 'vP...
4     1  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...

In [7]:
#third try to flatten list: parse 'prod', inside ´dets'
df3 = jnorm(dataset, record_path = ['dets','nItem'], meta = [['dets','prod','indTot'],['dets','prod','qCom'],['dets','prod','uCom'],['dets','prod','vProd'],['dets','prod','vUnCom'],['dets','prod','xProd']], errors='ignore')
df3.head()

   0 dets.prod.indTot  dets.prod.qCom dets.prod.uCom  dets.prod.vProd  dets.prod.vUnCom dets.prod.xProd
0  1                1           1.000             UN             3.50               3.5            AGUA
1  2                1           0.312             KG            21.40              68.6          BUFFET
2  1                1           1.218             KG            83.55              68.6          BUFFET
3  2                1           2.000             UN             9.00               4.5    REFRIGERANTE
4  1                1           1.000             UN             4.50               4.5            SUCO